:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  text-align: center;
  display: flex;
  place-items: center;
  height: 100vh;
  width: 100vw;
}

.moon-sun-container {
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
}

.clock-container {
  backdrop-filter: blur(1px);
  width: 100vw;
  padding: 10px 0;
}

footer {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
}

a {
  font-weight: 500;
  color: #f4c056;
  text-decoration: inherit;
}
a:hover {
  color: #4349c6;
}

h1 {
  font-size: 5em;
  line-height: 1.1;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.745);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

@media screen and (max-width: 786px) {
  h1 {
    font-size: 3em;
  }
}
